body{
background-color:#0f172a;
}





h1{
    color: #00ffcc;
    font-size: center;
    text-shadow: 0px 0x 10px  #00ffcc;
text-align: center;

}

p{

color: #e2e9f0;
font-size: 16px;
text-align: justify;
width:60%;
margin: 20px auto;


}

h2{
text-align: center;
color: #00ffcc;


}

h3{
    text-align: center;
color: #00ffcc 




}
img{
margin: 20px auto;
height: auto;
display: block;
border-radius: 50px;
}