Body{

background-color: #121212;
font-family: arial, sans-serif;
text-align: center;

}

h1  {

color: rgb(233, 32, 32);

text-shadow: 0px 0px 10px #ff3333;
}

p{
    color: #f5f5f5;
    font-size: 16px;
    text-align: justify;
    width: 60%;
    margin: 20px auto;


}

a{  
 
    text-align: center;
    color: #ff3333;
    display: block;
    margin: 20px auto;



}

ol{
    list-style-type: none;
    color: #ff3333;
    




}

li{
color: #ff3333;
text-align:center


}

img{


margin:60px auto;
height:center ;
width: 12%;
padding: 0%;
border-radius:  12%;



 
 





}

h2{
    color: rgb(211, 47, 47);
    text-shadow: 0px 0px 10px #ff3333;







}


ul{

list-style-type: none;
    
}




    
